<br>
<div class="container row" ng-show="articles.total">
  <p>{{localeText.found}}: {{articles.total}} {{localeText.articles}} &nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p>{{localeText.showBy}}: &nbsp;&nbsp;</p> 
  <select id="itemsperPage" class="browser-default" style="height:24px; border-style: none;" ng-model="searchParams.selected_itemsperPage" 
  ng-options="option as option.value for option in searchParams.itemsperPage"
  ng-init="searchParams.selected_itemsperPage = searchParams.itemsperPage[0]" ng-change="search()">
  </select>  
  <p>&nbsp;&nbsp;{{localeText.articlesByPage}}</p>
</div>

<div ng-repeat="article in articles.data track by $index" class="card card-cascade narrower" style="margin-top: 28px;">
    <div ng-if="checkIteminList((searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index)" 
        class=" card-header info-color white-text text-sm-center" id="selectedCard-{{$index}}" 
        style="display: none; font-size: 8pt; padding:2px;">
        Добавлено для экспорта в PDF
    </div>
  <div class="card-body card-body-cascade">
      <h3 id ="title-{{$index}}">{{convertText(article.title)}}</h3>
      <div class="row" style="margin-left: 0px !important;">
            <div class="col-6 p-1" style="align-self: flex-start;">
              <p ng-if="article.keywords"><strong>{{localeText.keywords}}: </strong>{{article.keywords}}</p>
              <p ng-if="article.subjects" id="categories-{{$index}}"><strong>{{localeText.categories}}: </strong>
                <span ng-repeat="subject in article.subjects">{{subject.title}}
                  <span ng-if="!$last">&#44;&nbsp;</span>
                </span>
              </p>
              <p ng-if="article.cover_date" id="year-{{$index}}"><strong>{{localeText.pubDate}}: </strong>{{article.cover_date}}</p>
              <p ng-if="article.journal.title" id="journal-{{$index}}"><strong>{{localeText.journal}}: </strong>{{article.journal.title}}</p>
              <p ng-if="article.issn" id="issn-{{$index}}"><strong>ISSN: </strong>{{article.issn}}</p>
              <p ng-if="article.authors" id="authors-{{$index}}"><strong>{{localeText.authors}}: </strong>
                {{article.authors}}
                <!-- <span ng-repeat="author in article.authors.split(`;`)">{{author.name}}
                  <span ng-if="!$last">&#59;&nbsp;</span>
                </span> -->
              </p>
              <p ng-if="article.journal.pub_type" id="paper-{{$index}}"><strong>{{localeText.typeOfArticle}}: </strong>{{article.journal.pub_type}}</p>
              <p id="citeAs-{{$index}}"><strong>{{localeText.citeAsArticle}}: </strong>{{getCiteAsText(article)}}</p>
            </div>
          <div class="col-6 p-1">
            <div class="row data-row">
                <div style="margin-top: 5%" ng-class="{true:'openaccess-margin', false:'closedaccess-margin'}[article.openaccess]">  
                  <img ng-if="article.openaccess" src="{{folder}}styles/vendors/img/openaccess.png" ng-attr-title="{{localeText.openaccess}}" ng-attr-alt="{{localeText.openaccess}}" width="35px">                    
                </div>
                <div style="margin-left: 10%; width: 40%; height: 130px;" id="article{{(searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index}}quartile"
                ng-class="{1:'quartileone', 2:'quartiletwo', 3:'quartilethree', 4:'quartilefour'}[article.article_quartile]">
                        <div style="margin-top:10%" class="text-white text-center card-title" ng-if="article.article_quartile != 5">
                              <h1><strong>
                              Q{{article.article_quartile}}
                              </strong></h1>
                              <p>(Scimago)</p>
                        </div>
                        <div class="text-center card-title" ng-if="article.article_quartile == 5">
                              <h3><strong>
                                {{localeText.noQuartile}}
                              </strong></h3>
                        </div>
                </div>         
            </div>
            <div class="row data-row">
                <div ng-if="article.journal.is_recommended" class=""><i title="Статья в рекомендованном журнале"  alt="Статья в белом журнале" class="far fa-thumbs-up fa-3x"></i></div>
                <div class="" style="text-align: center;">
                  <h1  id="cited-{{$index}}">{{article.citedby_count}}</h1><p style="text-align: center;"> {{localeText.citations}}</p>
                </div>  
            </div>
              </divcl>
            </div>
          <hr>
          <a ng-class="{'btn-floating': true, 'btn-success': !checkIteminList((searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index),
                        'btn-danger': checkIteminList((searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index)}" 
            id="addtoPDFBtn-{{(searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index}}"
            ng-click="addItemToPDF((searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index)">
            <i ng-class="{'fas fa-plus': !checkIteminList((searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index),
                          'fas fa-minus': checkIteminList((searchParams.currentPage-1)*searchParams.selected_itemsperPage.value+$index)}"></i></a>
          <button type="button" class="btn btn-info btn-rounded" data-toggle="collapse" data-target="#demo{{$index}}">{{localeText.annotation}}</button>
          <button ng-click="gotoScopusurl(article.eid)" id="link-{{$index}}" class="btn btn-secondary btn-rounded">{{localeText.readIn}} Scopus</button>
          <button ng-click="gotoJournalurl(article.url)" class="btn btn-success btn-rounded">{{localeText.readArticle}}</button>
          <button id="cite-{{$index}}" ng-click="citeAs(article)" class="btn btn-info btn-rounded" 
                  ng-attr-title="{{localeText.citeAlt}}" 
                  ng-attr-alt="{{localeText.citeAlt}}"
                  >
                  <span ng-if="cited && citedArticleTitle == article.title">{{copied}}</span>
                  <span ng-if="!(cited && citedArticleTitle == article.title)">{{localeText.citeAs}}</span>                 
                </button>
          <div id="demo{{$index}}" class="collapse">              
                  <p id="abstract-{{$index}}" ng-bind-html="convertText(article.abstract)"></p>
                  <!--<p id="abstract-{{$index}}">{{convertText(article.abstract)}}</p> -->
          </div>
        <br>
  </div>
</div>
</div>  