<br />
<div ng-controller="adminCtrl">
  <div
    class="container"
    style="width:100%;height:100%;"
    ng-if="!globals.currentUser"
    ng-include="folder+'views/login.html'"
  ></div>
  <div
    class="container"
    style="width:100%;height:100%; "
    ng-if="globals.currentUser"
    ng-include="folder+'views/admin.html'"
  ></div>
</div>
<br />
