<br />
<br />
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="LoginForm" ng-submit="Login(LoginForm)" role="form">
  <div class="form-group">
    <label for="login">Login</label>
    <i class="fa fa-key"></i>
    <input
      type="text"
      name="login"
      id="login"
      class="form-control"
      ng-model="login"
      required
    />
    <span
      ng-show="LoginForm.login.$dirty && LoginForm.login.$error.required"
      class="help-block"
      >Login is required</span
    >
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <i class="fa fa-lock"></i>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      ng-model="password"
      required
    />
    <span
      ng-show="LoginForm.password.$dirty && LoginForm.password.$error.required"
      class="help-block"
      >Password is required</span
    >
  </div>
  <div class="form-actions">
    <button
      type="submit"
      ng-disabled="LoginForm.$invalid || dataLoading"
      class="btn btn-danger"
    >
      Login
    </button>
    <img ng-if="dataLoading" src="{{folder}}loading_mini.gif" />
  </div>
</form>
