<!-- <img
  src="{{folder}}styles/vendors/img/7ZED1jE7V2o.jpg"
  height="100px"
  style="padding-left: 35%;"
/> -->
<div class="card" style="margin-top: 7%;">
  <div class="card-body px-lg-5 pt-0">
    <form name="searchform" ng-submit="searchParams.submitted = true">
      <div class="md-form" style="color: #757575">
        <input
          class="form-control"
          id="search"
          name="search"
          required
          ng-model="searchParams.text"
          type="text"
          ng-attr-placeholder="{{localeText.searchInputPlaceholder}}"
          maxlength="45"
        />
      </div>

      <!-- <h5 class="mb-0">Ограничить поиск</h5>
      <hr />-->

      <h6>{{localeText.searchIn}}:</h6>
      <div class="row">
        <div class="col-3" ng-repeat="type in searchParams.search_types track by $index">
          <input type="checkbox" ng-model="searchParams.search_types[$index].checked" class="form-check-input" id="stype-{{$index}}" />
          <label class="form-check-label" for="stype-{{$index}}">{{getLocaleSearchTypeName(type.value)}}</label>
        </div>
        <!-- <div class="row" style="margin-top: 20px;">
          <div class="switch">
            <label>
              <input type="checkbox" ng-model="searchParams.exact" id="exact" />
              <span class="lever"></span>
              Точное совпадение
            </label>
          </div>
          <div class="switch">
            <label>
              <input
                type="checkbox"
                ng-model="searchParams.golden_access"
                id="golden_access"
                name="public"
              />
              <span class="lever"></span>
              Только открытые
            </label>
          </div>
          <div class="switch">
            <label>
              <input
                type="checkbox"
                ng-model="searchParams.recommended_journals_only"
                id="recommended_journals_only"
              />
              <span class="lever"></span>
              Только рекомендованные
            </label>
          </div>
        </div> --> 
      </div>
      <!-- <hr /> -->
      <br />
      <p>{{localeText.pubYears}}:</p>
      <rzslider
        rz-slider-model="searchParams.slider_years.minValue"
        rz-slider-high="searchParams.slider_years.maxValue"
        rz-slider-options="searchParams.slider_years.options"
      ></rzslider>
      <br />
      <!-- <div ng-hide="true">
        <label>Квартиль журнала:</label>
        <rzslider
          rz-slider-model="searchParams.slider_quart.minValue"
          rz-slider-high="searchParams.slider_quart.maxValue"
          rz-slider-options="searchParams.slider_quart.options"
        ></rzslider>
      </div> -->
      <br />
      <!-- <br>
            <label>Базы цитирования:</label>
            <select id="citation_sources" title="Выберите базу цитирования" class="selectpicker w-100" 
            data-style="bg-white" multiple required ng-model="searchParams.selected_sources"
            ng-options="source as source.name disable when !source.active for source in searchParams.citation_sources track by source.value">
            </select> -->
      <br />
      <label>{{localeText.journalCat}}:</label>
      <div
        ng-if="dropdownLanguageUpdated"
        class="dropup"
        ng-dropdown-multiselect=""
        options="searchParams.journal_categories"
        style="width: 100%"
        selected-model="searchParams.selected_categories"
        extra-settings="searchParams.journal_categories_settings"
        translation-texts="{
          'checkAll': localeText.selectJournalCheckAll,
          'uncheckAll': localeText.selectJournalUncheckAll,
          'buttonDefaultText': localeText.selectJournalCat,
          'searchPlaceholder': localeText.selectJournalSearchPlaceholder
      }"
      ></div>
      <!-- <input
        'selectionCount': myScopeVariable.selectCount,
        type="hidden"
        ng-model="searchParams.selected_categories[0]"
        ng-required="false"
      /> -->
      <!-- <div
        ng-if="searchParams.submitted && searchform.$error.required"
        style="font-size: medium; color: red;"
      >
        <span ng-if="searchParams.submitted && searchform.$error.required">
          <i class="fas fa-exclamation red-text"></i>
        </span>
        Выберите хотя бы 1 категорию.
      </div> -->

      <button class="btn btn-success" type="submit" ng-click="search(searchform)" style="margin-top: 20px; width: 130px">
        <span ng-if="!articlesLoading">{{localeText.searchPublications}}</span>
        <img ng-if="articlesLoading" src="{{folder}}loading_mini.gif" style="height: 20px; width: 20px" />
      </button>
    </form>
  </div>
</div>
